<template>
  <div class="container text-center">
    <div class="row d-flex justify-content-center">
      <div class="col-5 col-sm-4 p-4 m-1 border border-white">
        <p>Corte</p>
      </div>
      <div class="col-5 col-sm-4 p-4 m-1 border border-white">
        <p>Barba</p>
      </div>
      <div class="col-10 col-sm-8 p-4 border border-white">
        <p>Corte e Barba</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>