<template>
  <div class="d-flex justify-content-center align-items-center flex-column">
    <h2>Escolha o serviço desejado:</h2>
    <ServiceList />
  </div>
</template>

<script setup>
import ServiceList from "../components/ChooseService/ServiceList.vue";
</script>

<style>
</style>