<template>
  <div class="d-flex justify-content-center align-items-center flex-column">
    <h2>Escolha o barbeiro de sua preferência:</h2>
    <AvailableBarber />
    <h2>Horários Disponíveis</h2>
    <AvailableTimeListVue />
  </div>
</template>


<script setup>
import AvailableTimeListVue from "../components/AvailableTime/AvailableTimeList.vue";
import AvailableBarber from "../components/AvailableBarber/AvailableBarber.vue";
</script>

