<template>
  <NavbarVue />
  <main>
    <RouterView />
  </main>
</template>

<script setup>
import NavbarVue from "./components/layout/Navbar.vue";
</script>

<style>
main {
  width: 100vw;
  margin-top: 4em;
}
</style>
