<template>
  <div
    class="
      container
      d-flex
      justify-content-center
      flex-column
      align-items-center
    "
  >
    <div
      class="row w-100 d-flex justify-content-center"
      v-for="(time, index) in timers"
      :key="index"
    >
      <AvailableTimeItemVue :time="time.time" />
    </div>
  </div>
</template>

<script setup>
import AvailableTimeItemVue from "./AvailableTimeItem.vue";
const timers = [
  { id: 1, time: "12:00" },
  { id: 2, time: "13:00" },
  { id: 3, time: "14:00" },
];
</script>

<style>
</style>