<template>
  <div
    @click="timeHandler"
    class="
      available-item-container
      col-12 col-sm-4
      m-2
      p-2
      d-flex
      justify-content-center
      border border-light
      rounded rounded-3
    "
  >
    <span class="fw-semibold">{{ time }}</span>
  </div>
</template>

<script setup>
import { useRouter } from "vue-router";
const router = useRouter();
const props = defineProps(["time"]);

const timeHandler = () => {
  router.push({ name: "service" });
};
</script>

<style>
.available-item-container {
  cursor: pointer;
  transition: 0.5s;
}

.available-item-container:hover {
  background-color: #fff;
  color: black;
}
</style>