<template>
  <div class="container d-flex justify-content-center m-2">
    <div class="row w-100 d-flex justify-content-center">
      <div class="col-12 col-sm-4">
        <select
          class="form-select bg-dark text-white-50"
          aria-label="Escolha o Barbeiro"
        >
          <option selected>Escolha o Barbeiro</option>
          <option value="1">Daniel</option>
          <option value="2">Clayton</option>
          <option value="3">José</option>
          <option value="4">Sem barbeiro específico</option>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>